*{
    padding: 0;
    margin: 0;
}
#game{
    width: 500px;
    height: 200px;
    border: 1px solid pink;
    background-color: rgb(255, 246, 247);
}
#character{
    width:20px;
    height: 50px;
    background-color: purple;
    position: relative;
    top: 150px;
}
@keyframes jump{
    0%{top: 150px;}
    50%{top: 100px;}
    150%{top: 150px;}
}
#block{
    width:20px;
    height: 20px;
    background-color: rgb(255, 0, 55);
    position: relative;
    top: 130px;
    left: 480px;
    animation: block is infinite linear;
}
@keyframes block{
    0%{left:480px;}
    100%{left:-480px;}
}